.active{
    color: black;
    text-decoration: none;
}
/* .navsection {
    position: fixed;
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
} */
/* .content ul li {
 list-style-type: none;
} */
.btn{
   
    display: flex;
    flex-direction: column;
}
.navsection {
    margin: 0px;
    padding: 0px;
    width: 100%;
    padding: 10px;
}
